footer {
  background: #2d61ab;
  margin-top: 300px;
  padding: 50px 10px 30px;
  color: white;
}

.wrapper img {
  width: 65%;
}

.flex {
  width: 80%;
  display: flex;
  justify-content: space-around;
}

a {
  color: white;
  text-transform: capitalize;
  text-decoration: none;
}

a:hover {
  color: white;
}

.link {
  padding: 4px 0;
}

.icon {
  padding: 0 7px;
}

.healthcare {
  padding-top: 15px;
}

.social-icons {
  display: flex;
}

.social-icons img {
  width: 36px;
  height: 36px;
  margin: 8px;
}

@media (max-width: 768px) {
  footer {
    padding: 45px;
  }
  .flex {
    display: flex;
    flex-direction: column;
  }

  .wrapper {
    margin-bottom: 35px;
  }
}
